* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 414px;
  height: 100vh;
  /*overflow: hidden;*/
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

header {
  padding-block: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header h2 {
  width: 171px;
  height: 30px;

  font-family: 'Homenaje';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  text-align: center;

  color: #000000;
}

header img {
  transform: translate(50px);
  width: 30px;
  height: 25px;
  cursor: pointer;
}

header img.open {
  content: url('./assets/bx-menu.svg');
}

header img.close {
  content: url('./assets/bx-x.svg');
}

nav {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: display 0.4s, transform 0.4s;
}

nav h2.on {
  border-bottom: 1px solid #000000;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

nav ul.menu {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

nav ul.menu li a h2 {
  font-family: 'Homenaje';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  text-align: center;

  color: #000000;
}

nav ul.menu li a:hover h2
{
  color: #ff4500;
  transition: color 0.3s ease;
}

nav ul.footer {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}

nav ul.footer li img#vsco {
  width: 20px;
  height: 20px;
}

main {
  margin-inline: 18px;
  transition: display 0.4s;
}

footer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding-bottom: 25px;
  transition: display 0.4s;
  
}

.full-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.full-img img {
  width: 90%;
  max-width: 400px;
}

.full-img span {
  position: absolute;
  font-family: 'Inter';
  color: #fff;
  bottom: 22%;
}

.full-img span.navigation
{
  bottom: 15%;
  font-size: 24px;
  cursor: pointer;
}

.full-img span#prev_button {
  left: 45%;
}

.full-img span#next_button {
  right: 45%;
}

.full-img span#close_button {
  top: 5%;
  right: 5%;
  font-size: 30px;
  cursor: pointer;
}

/* -------------- ACCUEIL -----------------------*/
main ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

main ul li img {
  width: 180px;
  height: 130px;
  cursor: pointer;
  transition: 500ms;
}

main ul li img:hover {
  transform: scale(1.1);
  transition: transform 0.3 ease;
}

/* -------------- BIO ---------------------*/

main.bio p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top: 20px;
  margin-bottom: 100px;
  justify-content: center;
}

main.bio img {
  max-width: 375px;
  max-height: 280px;
  border-radius: 15px;
  margin: auto;
  display: block;
}

main.bio h1 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-top: 50px;
  margin-bottom: 20px; 
}

/* -------------- PHOTOS ---------------------*/

div.links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

div.links ul li {
  cursor: pointer;
  font-family: 'Homenaje';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: #8c8686;
}

.city{
  display: none;
}

.city.on{
  display: block;
}

div.links ul li.on {
  color: #000000;
}
