* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 414px;
  height: 896px;
}

header {
  padding-block: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header h2 {
  width: 171px;
  height: 30px;

  font-family: 'Homenaje';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  text-align: center;

  color: #000000;
}

header img {
  transform: translate(50px);
  width: 30px;
  height: 25px;
  cursor: pointer;
}

main {
  margin-inline: 18px;
}

main ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

main ul li img {
  width: 180px;
  height: 130px;
  cursor: pointer;
  transition: 500ms;
}

main ul li img:hover {
  transform: scale(1.1);
}

.full-img {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.full-img img {
  width: 90%;
  max-width: 400px;
}

.full-img span {
  position: absolute;
  top: 8%;
  right: 10%;
  font-family: 'Inter';
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}

footer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}
